<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>密码重置通知</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td>
            <div style="margin: 20px;text-align: center;margin-top: 50px">
                <img src="http://myself.firstmeet.xyz/images/sign/sign.png" border="0"
                     style="display:block;width: 35%;height: 40%">
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div style="border: #36649d 1px dashed;margin: 30px;padding: 20px">
                <label style="font-size: 22px;color: #36649d;font-weight: bold">密码重置通知</label>
                <br>
                <p style="font-size: 16px" th:text="@{你的密码为:{password}(password=${password})}"></p>
                <br>
            </div>
        </td>
    </tr>
</table>
</body>

</html>